<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <section class="container container-xxl">
        <form class="row" action="">
            <div class="col-6 mb-3">
                <label  class="form-label">Fecha inicio</label>
                <input name="fechai" type="date" class="form-control" >
              </div>
              <div class="col-6 mb-3">
                <label  class="form-label">Fecha Final</label>
                <input name="fechaf" type="date" class="form-control" >
            </div>
            <div class="col-6 mb-3">
                <label  class="form-label">Id Prestación</label>
                <input name="id" type="text" class="form-control">
              </div>
              <div class="col-6 mb-3">
                <label  class="form-label">CI cliente</label>
                <input name="ci" type="text" class="form-control" >
            </div>
            <div class="col-4">
                <select name="estado" class="form-select" aria-label="Default select example">
                    <option value="" selected>Seleccionar Estado</option>
                    <option value="5">Reservado</option>
                    <option value="4">Cancelado</option>
                    <option value="3">Prestado</option>
                    <option value="2">Expirado</option>
                    <option value="1">Compensando</option>
                    <option value="0">Recepcionado</option>
                </select>
            </div>
            <button id="buscar" class="btn btn-primary col-auto" ><i class="fas fa-search"></i></button>
        </form>
        <form class="col-xl-12 my-2">

            <table class="table-detalles table table-bordered table-light">
                <thead class="table-dark">
                  <tr>
                    <th class="indice" scope="col">#</th>
                    <th class="id" scope="col">id</th>
                    <th class="fecha" scope="col">Fecha Emisón</th>
                    <th class="fecha" scope="col">Fecha Expiración</th>
                    <th class="cant-d" scope="col">Estado</th>
                    <th class="cliente" scope="col">cliente</th>
                    <th class="empleado" scope="col">Empleado</th>
                    <th class="total" scope="col">Total</th>
                    <th class="valor-pagado" scope="col">Valor Pagado</th>
                    <th scope="col"></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Aqui van los detalles -->
                  <tr th:each="p,i:${recePrests}">
                    <th th:text="${i.index+1}" scope="row">1</th>
                    <td th:text="${p.id}" >1</td>
                    <td th:text="${p.getEstados().get(0).getFecha()}">22/10/12</td>
                    <td th:text="${p.getFechaCaducida()}">22/10/12</td>
                    <td th:switch="${p.estadoActual()}" >
                      <span th:case="5">Reservado</span>
                      <span th:case="4">Cancelado</span>
                      <span th:case="3">Prestado</span>
                      <span th:case="2">Expirado</span>
                      <span th:case="1">Compensando</span>
                      <span th:case="0">Recepcionado</span>
                  </td> 
                    <td th:text="${p.cliente.nombres+' '+p.cliente.apellidos}"></td>
                    <td th:text="${p.estados.get(0).empleado.nombres}">Mario neta</td>
                    <td th:text="${p.totalPrestacion +p.TotalPerdida}">5</td>
                    <td th:text="${p.valorPagado}"></td>
                    <td th:switch="${p.estadoActual()}">
                      <a th:case="5" th:href="@{/empleado/reservacion/{id}(id=${p.getId()})}"><i class="fas fa-edit"></i></a>
                      <a th:case="4" href=""><i class="fas fa-eye"></i></a>
                      <a th:case="3" th:href="@{/empleado/recepcion/{id}(id=${p.getId()})}"><i class="fas fa-concierge-bell"></i></a>
                      <a th:case="2" th:href="@{/empleado/recepcion/{id}(id=${p.getId()})}"><i class="fas fa-concierge-bell"></i></a>
                      <a th:case="1" th:href="@{/empleado/recepcion/{id}(id=${p.getId()})}"><i class="fas fa-concierge-bell"></i></a>
                      <a th:case="0" href=""><i class="fas fa-eye"></i></a>
                    </td>
                    <td><a th:href="@{/empleado/recep_prest/{id}(id=${p.getId()})}"><i class="fas fa-print"></i></a></td>
                  </tr>

                </tbody>
                
              </table>
       
    
              </div>
        </form>
    </section>
</body>
</html>