<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de usuario</title>

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <link href="css/nav.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet" >
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/perfilstyle.css">
    <style>
    
    </style>
</head>
<body>
        <!-- Navegación --> 
    <div th:replace="/components/nav.html"></div>
    <section class="seccion-perfil-usuario mb-5">
        <div class="perfil-usuario-header">
            <div class="perfil-usuario-portada">
                <div class="perfil-usuario-avatar">
                    <img src="/img/perfil.jpg" alt="img-avatar">
                    <button type="button" class="boton-avatar">
                        <i class="far fa-image"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="perfil-usuario-body">
            <div class="perfil-usuario-bio">
                <h3 class="titulo">Datos del usuario</h3>
            </div>
            <a class="edit btn btn-primary" href="">Editar</a>
            <div class="perfil-usuario-footer">
                <ul class="lista-datos">
                    <li><i class="icono fas fa-id-card"></i> Cédula de identidad: <span th:text="${usuario.ci}"></span></li>
                    <li><i  class="icono fas fa-user"></i> Nombres: <span th:text="${usuario.nombres}"></span></li>
                    
                </ul>
                <ul class="lista-datos">
                    <li><i class="icono fas fa-envelope"></i> Correo: <span th:text="${usuario.correo}"></span></li>
                    <li><i class="icono fas fa-user"></i> Apellidos: <span th:text="${usuario.apellidos}"></span></li>
                </ul>
            </div>
        </div>
 
    </section>
        <!-- Footer -->
        <div th:replace="/components/footer.html"></div>
        <!-- Bootstrap -->
        <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>

<!--
    private String ci;
    private String nombres;
    private String apellidos;
    private String correo;
    private String password;
    -->

<!--
    private String ci;
    private String nombres;
    private String apellidos;
    private String correo;
    private String password;
-->