<div class="container-xxl">
    <nav class="navbar navbar-expand-md navbar-dark border-2 border-bottom pb-0" >
        <div class="container-fluid">
            <a class="navbar-brand" href="#">J&S</a>
            <button class="navbar-toggler order-2" type="button" data-bs-toggle="collapse" data-bs-target="#menu-navegacion" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="menu-navegacion" class="collapse navbar-collapse">
                <ul class="navbar-nav ms-0" >
                    <li class="nav-item"><a class="nav-link" href="/index.html"><i class="fas fa-home me-1"></i>Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="/index.html#acerca-de"><i class="fas fa-users me-1"></i>Acerca de</a></li>
                    <li class="nav-item"><a class="nav-link" href="/index.html#contactos"><i class="fas fa-phone-alt me-1"></i>Contactos</a></li>
                    <li class="nav-item"><a class="nav-link" href="/tienda/page/1"><i class="fas fa-store-alt me-1"></i>Tienda</a></li>
                </ul>
            </div>
            <a type="button" class="btn btn-success ms-auto me-1" href="/login">Iniciar Sesión</a>
        </div>
    </nav>
</div>